@model Catalogia_WebMVC.Models.CatalogObject

@{
    ViewBag.Title = "Catalog Item Details";
}

<h2>Catalog Item Details</h2>

<div>
    <!-- <h4>CatalogObject</h4> -->
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAcquired)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAcquired)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
