@model IEnumerable<Catalogia_WebMVC.Models.CatalogObject>

@{
    ViewBag.Title = "Index";
}

<h2>Catalog Item Summary</h2>

<p>
    @Html.ActionLink("Add a New Catalog Item", "Create")

    @using (Html.BeginForm("Index", "CatalogObject", FormMethod.Get)) {
        <p> Object Name to search: @Html.TextBox("inSearch")  &nbsp; Other Name to search: @Html.TextBox("inOtherName") 
        <br />
        <input type="submit" value="Filter" /> </p>
    }
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ObjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OtherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAcquired)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ObjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAcquired)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
